@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(360deg, #000000 0%, #030d27 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

header {
  margin-top: 20px;
  height: 40px;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav {
  width: 50%;
  padding: 7px 5px 7px 30px;
  border-radius: 50px 20px 20px 20px;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

header > nav > .nav-brand {
  width: 40%;
  color: #0000ff;
  font-weight: 600;
  font-size: 20px;
}
header > nav > .nav-brand:hover {
  color: white;
}
header > nav > .nav-menu {
  width: 60%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 25px;
}

header > nav > .nav-menu > li > a {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

header > nav > .nav-menu > li > a:hover {
  background-color: white;
  color: black;
  transition: all 300ms ease-in-out;
}

header > div {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header > div > button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

header > div > button#login {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

header > div > button#signup {
  background-color: #0000ff;
  color: white;
  border: 2px solid #0000ff;
}

header > div > button#login:hover {
  border-color: white;
  background-color: white;
  color: black;
  transition: all 300ms ease-in-out;
}
header > div > button#signup:hover {
  border-color: white;
  background-color: white;
  color: black;
  transition: all 300ms ease-in-out;
}

main > #trains {
  width: 100svw;
  height: 80svh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main > #trains > button {
  margin: auto 20px;
  padding: 15px 17px;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  z-index: 3;
}

main > #trains > button:hover {
  background-color: white;
  color: black;
}

main > #trains > .train {
  width: 100%;
  height: 500px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > #trains > div > img {
  position: absolute;
  width: 600px;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.6));
  z-index: 2;
}

main > #trains > div.show > img {
  animation: img-show 1000ms ease-out;
  /* animation: walk 2000ms linear 200ms infinite; */
}

main > #trains > div.hide > img {
  animation: img-hide 1000ms ease-in 200ms;
}

@keyframes img-show {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes img-hide {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes walk {
  0% {
    transform: translateX(-30px);
  }

  70% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(-30px);
  }
}

main > #trains > div > .train-name {
  position: absolute;
  font-size: 180px;
  font-weight: 700;
  text-align: center;
  z-index: -1;
}

main > #trains > div.show > .train-name {
  animation: text-show 1000ms ease-out;
}

main > #trains > div.hide > .train-name {
  animation: text-hide 1000ms ease-in 200ms;
}

@keyframes text-show {
  0% {
    transform: translate(100vw);
  }

  100% {
    transform: translate(0vw);
  }
}

@keyframes text-hide {
  0% {
    transform: translate(0vw);
  }

  100% {
    transform: translate(-100vw);
  }
}

main > #trains > div > .train-desc {
  position: absolute;
  bottom: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0 20vw;
}

main > #trains > div.show > .train-desc {
  opacity: 0.5;
  animation: train-desc-show 1000ms ease-in-out;
}

@keyframes train-desc-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

#frame {
  position: fixed;
  width: 100svw;
  height: 100svh;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000000;
}

#frame.hide {
  display: none;
}

#frame.show {
  display: block;
  opacity: 0.7;
}

#login-card,
#signup-card {
  position: fixed;
  top: 15svh;
  left: 30svw;
  z-index: 100;
  background-color: #030d27;
  color: white;
  box-shadow: 7px 10px 20px 5px rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#login-card.show,
#signup-card.show {
  display: flex;
  animation: login-show 400ms ease-out;
}

#login-card.hide,
#signup-card.hide {
  animation: login-hide 400ms ease-out;
  display: none;
}

@keyframes login-show {
  0% {
    transform: translateY(80svh);
  }
  100% {
    transform: translateY(0svh);
  }
}

@keyframes login-hide {
  0% {
    transform: translateY(0svh);
  }
  100% {
    transform: translateY(80svh);
  }
}

#login-card > .form-control,
#signup-card > .form-control {
  width: 100%;
}

#login-card > .form-control > input,
#signup-card > .form-control > input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: all 400ms ease-in-out;
}

#login-card > .form-control > input:focus,
#signup-card > .form-control > input:focus {
  border: 3px solid #0000ff;
}

#login-card > .form-control > input#login-submit,
#signup-card > .form-control > input#signup-submit {
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #0000ff;
}

#login-card > .form-control > input#login-submit:hover,
#signup-card > .form-control > input#signup-submit:hover {
  background-color: #5252fd;
}
